{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="row player-profile-box">
      <div class="col-md-4">
        <img src="{{ player.avatar.url }}" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h1>{{ player.nickname }}</h1>
        <p>Age {{ player.age }} years</p>
        <p>
          <span>Team</span>
          <img src="{{ player.team.logo.url }}" width = "40" class="ms-2 me-1">
          <strong>{{ player.team.team_name }}</strong>
        </p>
        <p>country <img src="https://flagcdn.com/w40/{{ player.flag.code|lower }}.png"></p>
      </div>
    </div>
  </div>
{% endblock content %}
