<h1>Players</h1>
<div>
  {% for player in players %}
  <div class="player-card">
    <div class="player-photo">
      {% if player.avatar %}
      <img src="{{player.avatar.url}}">
      {% else %}
        <p>Фото відсутнє</p>
      {% endif %}
    </div>
    <div class="player-info">
      <div class="name-row">
        {% if player.flag %}
          <img src="https://flagcdn.com/w40/{{ player.flag.code|lower }}.png">
        {% else %}
          <p>Прапор відсутній</p>
        {% endif %}
        <span>"{{player.nickname}}"</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

