{% extends "base.html" %} 
{% load static %}

{% block content %}
<div class="theme-controls">
  <button type="button" id="theme-switcher" class="theme-btn">
    <span class="icon">🌙</span>
  </button>
</div>

<h1>Players</h1>

<div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 justify-content-center"> 
  {% for player in players %}
    <div class="col d-flex justify-content-center">
      <div class="player-card" style="--team-color: {{ player.team.color }};">
        <div class="player-photo">
          {% if player.avatar %}
            <img src="{{player.avatar.url}}">
          {% else %}
            <div class="avatar-placeholder">
              <span>NO PHOTO</span>
            </div>
          {% endif %}
        </div>

        <div class="player-info">
          <div class="main-info-row">
            {% if player.team %}
              <img src="{{ player.team.logo.url }}">
            {% else %}
              <p>Немає команди</p>
            {% endif %}
            <span class="nickname">{{ player.nickname }}</span>
          </div>

          <div class="player-country">
            {% if player.flag %}
              <img src="https://flagcdn.com/w40/{{ player.flag.code|lower }}.png" class="player-flag">
              <span class="country">{{ player.country }}</span>
            {% else %}
              <p>Прапор відсутній</p>
            {% endif %}
          </div>

          <div class="real-name-row">
            {{ player.first_name }} {{ player.last_name }}
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
</div>
{% endblock content %}