<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">Esports Tournament Platform</a>
    
    <div class="ms-auto text-white">
      {% if user.is_authenticated %}
        <span class="me-3">Привіт, <strong>{{ user.username }}</strong></span>
        <a href="/logout" class="btn btn-outline-danger btn-sm">Вийти</a>
      {% else %}
        <a href="/login" class="btn btn-primary btn-sm">Війти</a>
      {% endif %}
    </div>
  </div>
</nav>