<h1>Top Players</h1>
<table border="1">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Name</th>
            <th>Country</th>
            <th>Team</th>
            <th>Rating 2.0</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td><strong>{{ player.nickname }}</strong></td>
            <td>{{ player.first_name }} {{ player.last_name }}</td>
            <td>{{ player.country }}</td>
            <td>{{ player.team }}</td>
            <td>{{ player.rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>